@import "tailwindcss";

* {
  outline: none;
}

#root, html, body {
  height: 100vh;
}

canvas {
  height: 100%;
}

.custom-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 9999px;
  background-color: rgba(252, 157, 22, 0.3); /* 트랙 흰색 확정 */
  cursor: pointer;
}

.custom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: #fc9d16;
  border-radius: 50%;
  border: 1px solid white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease;
}

.custom-slider::-moz-range-thumb:hover {
  transform: scale(1.1);
}